*{
    margin: 0px;
    padding: 0px;
    
}
*{
    scrollbar-color: black blue;
}
*::-webkit-scrollbar{
    width: 10px;
}
*::-webkit-scrollbar-track{
    background-color: silver;
}
*::-webkit-scrollbar-thumb{
    background-color: grey;
}
.header{
    border-top: 1px solid rgba(0, 0, 0, 0.322);
    box-shadow: 1px 1px 3px rgba(27, 26, 26, 0.521);
    background-color: whitesmoke;
}
.header,#headerChild{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
#headerChild{
    width: 60%;
    height: max-content;
}
#navbarIcon,#headerChild,#welcome{
    position:relative;
    left: 1%;
    top: 1%;;
    margin: 0.5% 4px;
}
#welcome{
    margin: 14px; 
    color:darkblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Search>form{
    display: flex;
    position:absolute;
    right: 2%;
    padding: 2px;
    top: 2%;
}
[type="submit"]{
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid blue;
    background-color: white;
}
[type="search"],[type="search"]:active{
    border: 1px solid blue;
    color: blue;
    margin-right: 2%;
    padding: 5px;
    border-radius: 5px;
}
[type="search"]::placeholder{
    color:blue;
}
i{  
    color: blue;
    font-size: larger;
}
[type="submit"]>i{
    color: blue;
    font-size:large;
    background-color: white;
}

#libraryName{
    color:blue;
    margin-top: 10px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.562);
    text-align: center;
}
.boxes,.box{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
}
.box{
    height: 20vw;
    width: 20vw;
    margin:3vw 15vw;
    background-color:whitesmoke;
    border-radius: 15%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.582);
}
a{
    text-decoration: none;
    color: blue;
}
#body{
    position: relative;
    z-index: 1;
}

#SideBar{
    background-color: whitesmoke;
    box-shadow: 0px 0px 4px 2px rgba(20, 20, 20, 0.623);
    font-size: large;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    font-family:serif;
    height: 100%;
    padding-left: 2%;
    width: 280px;
    z-index: 2;
    overflow: hidden;
}
#SideBar a{
    text-decoration: none;
}
#SideBar a:focus,#SideBar a:hover{
    color: white;
    padding: 6px 8px;
    cursor:pointer;
    border-radius: 5px;
    font-style: oblique;
    font-weight: bold;
    background-color: blue;
}
#responseData{
    position: relative;
    margin-bottom: 2%;
    z-index: 4;
    padding: 3px;
    overflow-y: scroll;
}
details{
    color: darkblue;
}
summary{
    color:blue;
}
.OK{
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    padding:4px 10px;
    margin:2px 40%;
}
.responsingBox{
    padding-top:3%;
}
#Clock{
    position: absolute;
    bottom: 2%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
    color: darkblue;
}
#searchBooks{
    height: 30%;
}
/* Delete all data */
#deleteAllData{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%,-50%);
    height: max-content;  
    padding: 4%;
    background-color:whitesmoke;
    border: 2px solid silver;
    border-radius: 25px;
    box-shadow: 0px 0px 8px rgba(2, 2, 2, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
#deletePassword{
    background-color: white;
    height: max-content;
    padding: 5px;
    color: blue;
    border: 0.5px solid blue;
    border-radius: 5px;
}
#deleteAllData>h2{
    color: blue;
    margin-right: 5%;
    text-shadow: 0px 0px 1px rgba(2, 2, 2, 0.411);
}
[value="Delete"]{
    border: none;
    color: white;
    padding: 8px 12px;
    background-color: blue;
    border-radius: 6px;
}
::placeholder,#detail{
    color: darkslateblue;
}
#Note,#detail{
    text-align: justify;
}
#Note{
    color: red;
    font-style: italic;
}

[onClick="closeDeleteAllDataPopup()"]{
    position: absolute;
    right: 3%;
    top: 3%;
    border: none;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: larger;
    padding: 5px 10px;
}
#noDataFound{
    display:none;
    position: absolute;
    right: 6%;  
    z-index: 3;
    border: 1px solid black;
    background-color:blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}



@media(max-width:491px){
      #libraryName,#deleteAllData>h2{
         font-size: 24px;
      }
      #noDataFound{
          top: 7.5%;
      }
      #responseData{
        height: 190px;
      }
      #welcome{
          display:none;
      }
      .box{
          height: 32vw;
          width: 32vw;
          margin:7vw auto;
      }
      #deleteAllData{
          width:80vw;
          padding:5px;
      }
      input{
        width: 180px;
        border-radius: 5px;
      }
    }
    @media(min-width:492px)and(max-width:1023px){
        #libraryName,#deleteAllData>h2{
          font-size: 28px;
        }
        #noDataFound{
            top: 6.5%;
        }
        #responseData{
            height: 160px;
        }
        #welcome{
            display: none;
        }
        .box{
            height: 22vw;
            width: 22vw;
            margin:4vw auto;
        }
        #deleteAllData{
            width:23vw;
            padding: 7px;
        }
        input{
            width: 210px;
            border-radius: 6px;
        }
    }
    @media(min-width:1024px){
        #libraryName{
            font-size: 40px;
        }
        #deleteAllData>h2{
            font-size: 25px;
        }
        #noDataFound{
            top: 5.5%;
        }
        #responseData{
            height: 200px;
        }
        i{
            font-size: larger;
        }
        #welcome{
            display: block;
            color: darkblue;
        }
        .box{
            height: 17vw;
            width: 17vw;
            margin:3vw auto;
        }
        #deleteAllData{
            width:20vw;
            padding: 10px;
        }
        input{
            width: 240px;
            border-radius: 8px;
            border:2px solid blue;
        }
        
    }