*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
    color:red;
    margin: 11px auto;
    text-shadow: 0px 0px 1px rgba(12, 0, 0, 0.596);
}
table{
    width: 96%;
    margin: auto;
    padding: 3px;
    text-align: center;  
    border: none;  
}

th{
    color: blue;
    font-size: large;
}
th,td{
    box-shadow: 0.2px 0.2px 0.2px black;
    padding: 9px;
}
a{
    text-decoration: none;
    color: white;
}
.delete,.request,.editing{
    color: white;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    box-shadow: 0px 0px 6px rgba(1, 3, 3, 0.4);
}
.request,.editing,.delete,#goBack{
    border: none;
}
.delete{
    background-color: red;
    margin-left:7px;
    
}
.request,.editing{
    margin: auto;
    padding: 6px 10px;
    background-color: rgb(63, 214, 63);
}

.confirmationBox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#goBack{
    background-color: blue;
    padding: 10px;
    width: max-content;
    border-radius: 5px;
    color: white;
    margin-top: 2%;
    box-shadow: 0px 0px 10px rgba(34, 31, 31, 0.582);
}

/* Popup for edit data */
#editing{
    display: none;
    background-color: white;
    align-items:center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px 0px 8px rgba(32, 32, 32, 0.548);
    border: 1px solid rgb(53, 42, 42);
    padding: 2%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 25px;
}

input{
    height: max-content;
    padding: 5px;
    margin: auto;
    border: 0.5px solid blue;
    border-radius: 5px;
}
[type="submit"]{
    color:white;
    padding: 9px 10px;
    box-shadow: 0px 0px 6px rgba(2, 2, 2, 0.5);
    border: none;
    background-color: blue;
}
.searchedTerm{
    text-decoration: underline;
    color: red;
    font-weight: 800;
    font-style:oblique;
}