
#Submit{
    padding: 3%;
}
h2{
    color: darkslategrey;
    text-shadow: 1px 1px rgb(240, 171, 217);
}
.formBody{
    padding: 3%;
}
#checkingRole{
    margin: auto;
    color: red;
    width: max-content;
}
#checkingRole>label{
    margin-left: 10px;
}