*{
    margin: 0px;
    padding: 0px;
}
#container{
    height: 100vh;
    width: 100%;
    background-color: rgb(247, 236, 236);
}
h1{
    text-align: center;
    color: blue;
    text-shadow: 1px 1px rgb(0, 0, 0 ,0.5);
}
table{
    border: 0.5px solid black;
    width: 96%;
    margin: auto;
    padding: 1%;
    text-align: center;
    box-shadow: 4px 4px rgb(0, 0, 0 ,0.2)
}
th{
    font-size: large;
}
button{
    margin: 3px;
    padding: 4px;
    color: white;
    border-radius: 5px;
    border: 0.1px solid black;
    box-shadow: 3px 3px rgb(0, 0, 0 ,0.2);
}
.accept{
    background-color: rgb(22, 196, 22);
}
.decline{
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
}
#goBack{
    background-color: black;
    padding: 10px;
    height:max-content;
    width: max-content;
    margin:2% 46%;
}
