*{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    color:red;
    margin: 11px auto;
    text-shadow: 0px 0px 1px rgba(12, 0, 0, 0.596);
}
#rules{
    word-spacing: 0.09cm;
    line-height: 26px;
    width: 95%;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;;
}
ol{
    margin-left: 30px;
    list-style-type:circle;
}
#goBack{
    background-color: blue;
    padding: 10px;
    width: max-content;
    border-radius: 5px;
    color: white;
    margin: 2% 48.3%;
    border: none;
    box-shadow: 0px 0px 10px rgba(34, 31, 31, 0.582);

}