*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: darkcyan;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 3px 3px rgb(0, 0, 0 ,0.2);
}
#rules{
    color: white;
    word-spacing: 0.09cm;
    line-height: 25px;
    width: 95%;
    font-family: georgia;
}
ol{
    margin-left: 30px;
}
#goBack{
    background-color: black;
    padding: 10px;
    height:max-content;
    width: max-content;
    margin:2% 46%;
    border-radius: 5px;
    color: white;
    box-shadow: 4px 4px rgb(0, 0, 0 ,0.2);

}