*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.body{
    display: flex;
    justify-content: center;
}
#Account,.submit,h1,h2,.formBody{
    color:blue;
    padding: 2px;
    text-align: center;
}
.formBody{
    padding:4.5%;
    border-radius: 10%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 6px rgba(7, 7, 7, 0.534);
    flex-direction: column;
}

[type="submit"]{
    color:white;
    padding: 9px 10px;
    box-shadow: 0px 0px 6px rgba(2, 2, 2, 0.507);
    border: none;
    background-color: blue;
    height: max-content;
}
a{
    font-size: larger;
    text-decoration: none;
    color: red;
}
h2{
    font-family: sans-serif;
    color: red;
    text-shadow:0px 0px 1px rgba(39, 38, 38, 0.555);
}
input{
    border-radius: 5px;
    border: 0.5px solid rgba(20, 20, 20, 0.473);
    padding: 5px 8px;
}

#checkingRole{
    margin: auto;
    color: red;
    width: max-content;
}
#checkingRole>label{
    margin-left: 10px;
}

@media(max-width:491px){
    input{
      width: 180px;
      height: 10px;
      border-radius: 5px;
    }
    [type="submit"]{
        width: 60px;
    }
  }
  @media(min-width:492px)and(max-width:1023px){
      input{
          width: 210px;
          height: 15px;
          border-radius: 7px;
      }
      [type="submit"]{
          width: 70px;
      }
  }
  @media(min-width:1024px){
      input{
          width: 230px;
          height: 18px;
          border-radius: 10px;
      }
      [type="submit"]{
          width: 80px;
      }
      
  }